.site-logo {
    height: 4rem;
    width: 4rem;
    cursor: pointer;
}

.site-link {
    &:hover {
        animation: pop-out 0.3s ease forwards;
        color: var(--link-hover-color);
    }
}

@keyframes pop-out {
    to { transform: translate(0.1rem, 0.1rem); }
}