.footer-container {
    background-color: var(--contrast-color);

    .footer-wrapper {
        padding: 1rem 1rem;

        .footer-branding-wrapper {
            position: absolute;
        }

        .footer-category-wrapper {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            padding: 1rem;

            @media (max-width: 800px) {
                grid-template-columns: 1fr 1fr;
            }

            .footer-category {
                padding: 1rem;

                .footer-category-links-wrapper {
                    list-style-type: none;
                    padding: 0 1rem;
                    margin: 0;

                    > * {
                        padding: 0.3rem 0;
                        width: max-content;
                        color: var(--font-contrast-color);
                    }
                }
            }
        }

        .footer-social-bar-wrapper {
            padding-top: 2rem;
            text-align: center;

            .footer-social-icon {
                padding: 1rem;
            }
        }
    }
}