.footer-container {
    background-color: var(--contrast-color);

    .footer-wrapper {
        padding: 1rem 1rem;

        .footer-nav-menu {
            display: grid;

            .footer-category-wrapper {

                .footer-category-title {

                }

                .footer-category-links-wrapper {
                    list-style-type: none;
                }
            }
        }
    }
}