.footer-container {
    background-color: var(--contrast-color);

    .footer-wrapper {
        padding: 1rem 1rem;

        .footer-branding-wrapper {
            position: absolute;
        }

        .footer-nav-menu {

            .footer-category-wrapper {
                display: grid;
                grid-template-rows: 1fr;

                border: 5px solid red;

                .footer-category-title {

                }

                .footer-category-links-wrapper {
                    list-style-type: none;
                    padding: 0 1rem;
                    margin: 0;

                    > * {
                        padding: 0.3rem 0;
                        width: max-content;
                        color: darkslategray;

                        border: 5px solid black;
                    }
                }

                .footer-social-bar-wrapper {
                    text-align: right;
                }
            }
        }
    }
}