.header-container {
    margin-bottom: 3rem;

    .header-wrapper  {
        display: flex;
        width: 100%;
        height: 4rem;
        position: fixed;
        top: 0;
        background-color: white;
        box-shadow: 2px 5px 2px gray;
        z-index: 99;
        padding: 0 1rem;
        
        * {
            margin: 0;
            padding: 0.3rem;
        }

        .header-branding-wrapper {
            display: inline-flex;
            flex-basis: 15%;

            .header-branding-title {
                font-size: 2rem;
            }
        }

        .header-nav-menu {
            flex-basis: 85%;
            display: inline-flex;
            justify-content: flex-end;
            white-space: nowrap; // for really long link titles

            .header-links-wrapper {
                display: inline-flex;
                gap: 2rem;
                padding-top: 0.9rem;
                list-style-type: none;

                .header-list-item {

                    &:hover {
                        animation: pop-out 0.3s ease forwards;
                        color: gray;
                    }
                }
            }
            
            // do not display mobile menu or hamburger icon on desktop
            .header-nav-toggle {
                display: none;
                
                // mobile menu
                @media (max-width: 800px) {
                    display: block;

                    // adjust styling when hamburger becomes closest sibling, aka visbile on the screen
                    +.header-links-wrapper {
                        flex-direction: column;
                        position: absolute;
                        left: 0;
                        right: 0;
                        top: 100%;
                        background: white;
                        align-items: center;
                        overflow: hidden;
                        padding: 1rem;
                        border: 3px solid lightblue;

                        display: none; // don't show when mobile menu not active

                        &.header-mobile-active {
                            display: flex;
                        }
                    }
                }
            }
        }
    }
}

@keyframes pop-out {
    to {
      transform: translate(0.1rem, 0.1rem);
    }
}