.sidebar-container {

    .sidebar-toggle {
        position: fixed;
        top: 50%;
        left: 1rem;
    }

    .sidebar-nav-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        width: 30%;
        height: 100%;
        background-color: #fff;
        left: -200px;
        top: 0;
        height: 100%;
        z-index: 11;

        visibility: hidden; // don't show until sidebar is targeted
        transition: left 0.5s ease;

        @media (max-width: $breakpoint--medium) {
            width: 100%;
        }

        .sidebar-close {
            position: absolute;
            right: 1rem;
            top: 1rem;

            .sidebar-close-icon {
                font-size: 2rem;
            }
        }

        .sidebar-links-wrapper {
            padding: 3rem;
            justify-content: center;
            list-style-type: none;

            .sidebar-link-item {
                margin: 1rem;
                padding: 1rem;
                text-align: center;

                border-bottom: 5px solid var(--main-color);
                border-radius: 5px;
            }
        }

        &:target {
            visibility: visible;
            left: 0;

            +.sidebar-backdrop {
                position: fixed;
                display: block;  
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                z-index: 100;
                background-color: rgba(0,0,0,.85);
                cursor: default;
                z-index: 10;
            }
        }
    }
}