
.carousel-background {
    background-color: var(--nerutal-background);

    .carousel-wrapper {
        display: grid;
        gap: 5rem;
        grid-template-columns: 1fr 1fr;

        .carousel-description-wrapper {
            text-align: left;
            background-color: var(--neutral-background--compliment);
            padding: 1.5rem;

            .carousel-description-features-wrapper {
                padding-top: 1rem;

                .carousel-description-features-list {
                }
            }
        }

        .carousel-toggle {
            text-align: right;
        }

        @media(max-width: $breakpoint--medium) {
            display: flex;
            flex-direction: column;
        }
    }
}