
.carousel-background {
    background-color: var(--contrast-color);

    .carousel-wrapper {
        display: grid;
        gap: 5rem;
        grid-template-columns: 1fr 1fr;

        .carousel-description-wrapper {
            text-align: left;
            background-color: var(--main-background);
            border-radius: 2rem;
            padding: 1.5rem;

            .carousel-description-features-wrapper {
                padding-top: 1rem;

                .carousel-description-features-list {
                }
            }
        }

        // THIS SHOULD FILL THE DIV WITH THE GAP AND GO TO THE NEXT LINE IF THEIR IS NO MORE SPACE IN THE DIV
        .carousel-description-tags-wrapper {
            display: inline-flex;
            gap: 1rem;

            .carousel-description-tag {
                padding: 0 0.8rem;
                border-radius: 1rem;
                background-color: lightgreen;
            }
        }

        .carousel-toggle {
            text-align: right;
        }

        @media(max-width: $breakpoint--medium) {
            display: flex;
            flex-direction: column;
        }
    }
}