.flex-panel {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 1.5em;

    .flex-panel-card {
        min-height: 15em;
        /*
        1024px screen:
        2 cards - 27em
        3 cards - 25em
        4 cards - 18em
        */
        width: 25em;
        flex-grow: 1;
        border: 2px solid var(--main-color);
        box-shadow: 0.1em 0.1em 1.5em var(--main-color); // can substitute this with any color
        border-radius: 1em;
        margin: 1.5em 1em;
        padding: 1.5em;

    }
}
