.panel-grid {
    display: grid;
    /*
        1024px screen:
        2 cards - 27em
        3 cards - 21em
        4 cards - 18em
    */
    grid-template-columns: repeat(auto-fill, minmax(21em, 1fr));
    gap: 1em;
    border-radius: 1.5rem;

    .panel-card {
        min-height: 20em;
        box-shadow: 0.25em 0.25em 2em rgba(0, 0, 0, 0.25); // can substitute this with any color
        border-radius: 1em;
        padding: 1.5em;
    }
}