.image-gallery-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2rem;

    .image-gallery-image {
        width: 12rem;
        height: 12rem;

        @media (max-width: $breakpoint--large) {
            width: 8rem;
            height: 8rem;
        }
    }
}