.image-background-wrapper {
    background-size: 100% 100%;

    .image-on-top {
        padding-top: 12rem;
        margin-bottom: 1rem;

        @media (max-width: $breakpoint--medium) {
            padding-top: 6rem;
        }

        > img {
            width: 60%;

            @media (max-width: $breakpoint--medium) {
                width: 50%;
            }
        }
    }
}