/*--------------------------------------------------------------
# Section Spacing
--------------------------------------------------------------*/
main.site-content {
  align-items: center;
  text-align: center;
}

.container {
  padding: 4rem 5rem;
  
  // tablet - 75% smaller
  @media (max-width: $breakpoint--large) {
    padding: 2.1rem 3.5rem;
  }

  // mobile - 50% smaller
  @media (max-width: 800px) {
    padding: 1.5rem 2.5rem;
  }
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.image-container {
  overflow: hidden; // for zoom in animation
}

.site-image {
  @media (max-width: 900px) {
    /* !!! PIC TOO BIG !!! */
    max-width: 18rem;
    max-height: 18rem;
  }
}

.zoom-image {
  opacity: 0.8;
  transition: opacity 0.5s, transform 0.5s;

  &:hover {
    opacity: 1;
    transform: scale(1.05);
  }
}

/*--------------------------------------------------------------
# Decorations
--------------------------------------------------------------*/
.horizontal-line-sm {
  max-width: 50%;

  &.align-left {
    margin-left: 0;
  }
}

/*--------------------------------------------------------------
# Misc
--------------------------------------------------------------*/
.hide {
  display: none !important;
}