/*--------------------------------------------------------------
# Variables
--------------------------------------------------------------*/
:root {
  // main color pallette
  --main-color:             #46F56E;    // green:            rgb(70, 245, 110)
  --secondary-color:        #B4FF5F;    // light green:      rgb(180, 255, 95)
  --middle-color:           #E1FF64;    // yellow-green:     rgb(225, 255, 100)
  --secondary-background:   #F5FF78;    // yellow:           rgb(245, 255, 120)
  --main-background:        #F5FFA0;    // light-yellow:     rgb(245, 255, 160)
  --contrast-color:         #8FD7E5;    // sky blue:         rgb(143, 215, 229)

  // font colors
  --link-hover-color:       #4B5351;    // dark gray blue:   rgb(194, 203, 214)  
  --font-contrast-color:    #1F4D45;    // dark torquoise:   rgb(31, 77, 69)

  // other colors
}

/*--------------------------------------------------------------
# Scroll Bar
--------------------------------------------------------------*/
// firefox
* {
  scrollbar-width: 1.3rem;
  scrollbar-color: var(--main-color) var(--main-background);
}

// chrome, edge, safari
*::-webkit-scrollbar {
  width: 1.3rem;
}

*::-webkit-scrollbar-track {
  background: var(--main-background);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
  border: 3px solid var(--middle-color);
}

/*--------------------------------------------------------------
# Highlight Text Color
--------------------------------------------------------------*/
::selection {
  background: var(--main-background); // WebKit/Blink Browsers
}
::-moz-selection {
  background: var(--main-background); // Gecko Browsers
}

/*--------------------------------------------------------------
# Site Variables
--------------------------------------------------------------*/
html,
body {
  margin: 0 auto;
  font-family: Verdana; 
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2.5em;
}

h3 {
  font-size: 1.8em;
}

h4 {
  font-size: 1.2em;
}

p {
  font-size: 1.15em;
}

p.text-sm {
  font-size: 1.05em;
}

p.text-xs {
  font-size: 0.9em;
}

a {
  color: inherit;
  text-decoration: none;
}

hr {
  height: 0.5em;
  background-color: var(--contrast-color);
  border: none;
  margin-top: 0.8rem;
  margin-bottom: 0;
}

// tablet (5% smaller than Desktop)
@media(max-width: $breakpoint--large) {
  h1 {
    font-size: 2.85em;
  }
  
  h2 {
    font-size: 2.375em;
  }

  h3 {
    font-size: 1.71em;
  }

  h4 {
    font-size: 1.14em;
  }
  
  p {
    font-size: 1.0925em;
  }

  p.text-sm {
    font-size: 0.9975em;
  }

  p.text-xs {
    font-size: 0.855em;
  }
}

// mobile (10% smaller than Desktop)
@media(max-width: $breakpoint--medium) {
  h1 {
    font-size: 2.7em;
  }
  
  h2 {
    font-size: 2.25em;
  }

  h3 {
    font-size: 1.62em;
  }

  h4 {
    font-size: 1.08em;
  }
  
  p {
    font-size: 1.035em;
  }

  p.text-sm {
    font-size: 0.945em;
  }

  p.text-xs {
    font-size: 0.81em;
  }
}

/*--------------------------------------------------------------
# Site Customization
--------------------------------------------------------------*/
* {
  box-sizing: border-box;
}