/*--------------------------------------------------------------
# Variables
--------------------------------------------------------------*/
$breakpoint--large:                 1025px;     // anything under is a tablet screen   
$breakpoint--medium:                800px;      // anything under is a mobile screen
$breakpoint--small:                 600px;      // anything under is definitely a mobile screen

/*--------------------------------------------------------------
# Global
--------------------------------------------------------------*/
@import 'base', 'globals';

/*--------------------------------------------------------------
# Animations
--------------------------------------------------------------*/
@import 'animations';

/*--------------------------------------------------------------
# Shapes
--------------------------------------------------------------*/
@import 'shapes/hamburger', 'shapes/chevron';

/*--------------------------------------------------------------
# Layout
--------------------------------------------------------------*/
@import 'layout/groofs';

/*--------------------------------------------------------------
# Components
--------------------------------------------------------------*/
@import 'components/gridPanel', 'components/hero', 
    'components/flexPanel', 'components/gridSection',
    'components/carousel', 'components/imageGallery',
    'components/table', 'components/form';

/*--------------------------------------------------------------
# Components Layout
--------------------------------------------------------------*/
@import 'components/layout/common', 'components/layout/header', 
'components/layout/footer', 'components/layout/sidebar';

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
@import 'components/elements/imageOverlay', 
    'components/elements/tags', 'components/elements/imageBackground';